/.gradle/
/build/
/.idea/modules/
/out/
/.settings/
/bin/
/.idea/gradle.xml
/.idea/modules.xml
/.idea/workspace.xml
/.classpath
/.project
/.pydevproject
/.settings
/.metadata
/.externalNativeBuild
/.cxx
/.DS_Store
/local.properties
