.root {
    -fx-font-family: "Helvetica";
    -fx-font-size: 9pt;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.menu-bar {
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: white;
    -fx-font-size: 8.5pt;
    -fx-font-weight: bold;
}

.menu-bar:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.jfx-check-box {
    -jfx-checked-color: #61a2b1;
}

.brand-background-second-color {
    -fx-background-color: white;
}

.region-brand-logo {
    -fx-background-color: black;
}
