* :disabled {
    -fx-opacity: 1;
}

.root {
    -fx-control-inner-background-alt: -fx-control-inner-background;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-padding: 3px;
}

.tab .tab-label {
    -fx-background-insets: 0 5em 0 0, 1 5em 1 1, 2 5em 0 0;
    -fx-padding: 0.02em 1em 0.02em 0.5em;
    -fx-font-size: 10.5pt;
    -fx-font-weight: bold;
}

.split-pane:vertical > .split-pane-divider {
    -fx-border-width: 1.2pt;
    -fx-border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
    -fx-background-color: derive(transparent, 20%), transparent;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-width: 1.2pt;
    -fx-border-color: transparent rgba(0, 0, 0, 0.7) transparent transparent;
    -fx-background-color: transparent, derive(transparent, 20%);
}

.table-view {
    -fx-font-size: 8pt;
}

.table-view .column-header .label {
    -fx-font-size: 8pt;
    -fx-font-weight: bold;
}

.tree-table-view {
    -fx-font-size: 8pt;
}

.tree-table-view .column-header .label {
    -fx-font-size: 8pt;
    -fx-font-weight: bold;
}

.tree-table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-fill: -fx-text-inner-color;
}

.tree-table-row-cell:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}

.tree-table-view .tree-table-cell:parent {
    -fx-background-color: lightgrey;
}

.tree-table-view .tree-table-cell:critical {
    -fx-background-color: red;
}

.tree-table-view .tree-table-cell:parent:selected {
    -fx-background-color: -fx-selection-bar;
}

.tree-view {
	-fx-font-size: 8pt;    
}

.list-view {
    -fx-font-size: 8pt;
}

.combo-box {
    -fx-min-width: 100px;
    -fx-pref-width: 100px;
}

.limas_combo_box {
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
}

.text-area > .scroll-pane {
    -fx-vbar-policy: always;
}



.boldFontSize18 {
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
}

.boldFontSize14_5 {
    -fx-font-size: 14.5pt;
    -fx-font-weight: bold;
}

.boldFontSize13 {
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
}

.boldFontSize11_5 {
    -fx-font-size: 11.5pt;
    -fx-font-weight: bold;
}

.boldFontSize10 {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

.boldFontSize9 {
    -fx-font-size: 9pt;
    -fx-font-weight: bold;
}

.font-size-18 {
    -fx-font-size: 18pt;
}

.fontSize13 {
    -fx-font-size: 13pt;
}

.fontSize11 {
    -fx-font-size: 11pt;
}

.fontSize10 {
    -fx-font-size: 10pt;
}

.fontSize9 {
    -fx-font-size: 9pt;
}

.fontSize8_5 {
    -fx-font-size: 8.5pt;
}

.monoSpace {
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
}

.italic {
    -fx-font-style: italic;
}

.bold {
    -fx-font-weight: bold;
}
